<%= render "shared/header" %>
  <div class="main">
    <h2 class="wrapper-title">Reminders</h2>
    <p class="wrapper-subtitle">リマインダー一覧</p>
    <ul>
      <% @user.reminders.each do |reminder|%>
        <% next_schedule = reminder.next_schedule_calculation(reminder.schedule, reminder.frequency_year, reminder.frequency_month, reminder.frequency_week, reminder.frequency_day) %>
        <li class="left-wrapper-list-item">
          <div class="list-item-contents">
            <div class="list-item-left-inner">
              <div class="remind-date">
                <%= reminder.schedule %>
              </div>
              <div class="remind-title">
                <%= reminder.title %>
              </div>
            </div>
            <div class="list-item-right-inner">
              <div class="remind-next-schedule">
                  <%= next_schedule %>
              </div>
              <%= link_to "完了", "#", class: "completion btn" %>
              <%= link_to "skip", "#", class: "skip btn" %>
            </div>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
<%= render "shared/footer" %>
