<%= render "shared/header" %>
<div class="main">
  <h1><%= @reminder.title %>に関連するarticleの設定ページ</h1>
  <div>
    <%= form_with(url: search_reminder_path(@reminder), local: true, method: :get) do |f| %>
      <%= f.text_field :keyword, placeholder: "検索したいキーワードを入力してください" %>
      <%= f.submit "articleのタイトルを検索" %>
    <% end %>
  </div>
  <div>
    <ul>
      <% @articles.each do |article| %>
        <li><%= article.title %></li><br>
      <% end %>
    </ul>
  </div>
  <%= link_to "リマインダー詳細へ戻る", reminder_path(@reminder) %>
</div>
<%= render "shared/footer" %>