<div class="main-contener">
  <%= render "shared/sidebar" %>
  <div class="main-wrapper">
    <h1 class="wrapper-title">New Doyal Editer</h1>
    <h2 class="wrapper-subtitle">Doyal新規投稿</h2>
    <div class='form-wrapper'>
      <%= form_with model: @article, local: true do |f| %>
        <%= render 'shared/error_messages', model: f.object %>
        <div class="form-group">
          <label class="form-label">サムネイル画像</label><br>
          <%= f.file_field :image, id:"article-image" %>
        </div>
        <div class="form-group">
          <label class="form-label">投稿記事のタイトル ※必須</label><br>
          <%= f.text_area :title, class:"form-input-field", id:"title", placeholder:"タイトル", autofocus: true %>
        </div>
        <div class="form-group">
          <label class="form-label">投稿記事のジャンル</label><br>
          <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"form-input-field"}) %>
        </div>
        <div class="form-group">
          <label class="form-label">公開の可否 ※必須</label><br>
          <%= f.radio_button :release, true %>
          <%= f.label :release_true, "公開する" %>
          <%= f.radio_button :release, false %>
          <%= f.label :release_false, "公開しない" %>
        </div>
        <%= f.submit "Doyal memo作成へ進む" ,class:"form-submit-btn" %>
      <% end %>
    </div>
    <div class="main-btn-area">
      <%= link_to "キャンセルして戻る", articles_path, class: "main-btn" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>
