<%= render "shared/header" %>
<div class="main">
  <h1 class="wrapper-title">New Article Editer</h1>
  <p class="wrapper-subtitle">新規投稿ページ</p>
  <div class='form-wrap'>
    <%= form_with model: @article, local: true do |f| %>

      <%= render 'shared/error_messages', model: f.object %>

      <div class="form-group">
        <label class="form-text">サムネイル画像</label>
        <%= f.file_field :image, class:"article-image", id:"article-image" %>
      </div>
      <div class="form-group">
        <label class="form-text">投稿記事のタイトル</label>
        <%= f.text_area :title, class:"input-default", id:"title", placeholder:"タイトル", autofocus: true %>
      </div>
      <div class="form-group">
        <label class="form-text">投稿記事のジャンル</label>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"genre-select"}) %>
      </div>
      <div class="form-group">
        <label class="form-text">公開の可否</label>
        <%= f.radio_button :release, true %>
        <%= f.label :release_true, "公開する" %>
        <%= f.radio_button :release, false %>
        <%= f.label :release_false, "公開しない" %>
      </div>
      <%= link_to "キャンセル", :back, class: "btn" %>
      <%= f.submit "Create Article!" ,class:"btn" %>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>