<%= render "shared/header" %>
<div class="main">
  <div class="main-wrapper">
    <h1 class="wrapper-title">Article Detail</h1>
    <p class="wrapper-subtitle">投稿記事詳細</p>
    <div class="main-contents">
      <ul>
        <% if @article.image.present? %>
          <%= image_tag @article.image, class:"main-user-img" %>
        <% else %>
          <%= image_tag "no-image.jpg", class:"main-user-img" %>
        <% end %>
        <li class="main-list-item">
          タイトル : <%= @article.title %>
        </li>
        <li class="main-list-item">
          ジャンル : <% if @article.genre.present? %><%= @article.genre.name %><% end %>
        </li>
        <%= link_to "編集", edit_article_path(@article), class: "edit btn"%>
        <%= link_to "削除", article_path(@article), data: { turbo_method: :delete }, class: "delete btn" %>
      </ul>
      <%= render "posts/index" %>
      <%= link_to "内容を追加する", new_article_post_path(@article), class: "btn" %>
    </div>
  </div>
</div>
<%= render "shared/footer" %>