<div class="main-contener">
  <%= render "shared/sidebar" %>
  <div class="main-wrapper">
    <h1 class="wrapper-title">Article Detail</h1>
    <p class="wrapper-subtitle">投稿記事詳細</p>
    <div class="article-info-area">
      <h2 class="article-title"><%= @article.title %></h2>
      <% if @article.image.present? %>
        <%= image_tag @article.image, class:"article-image" %>
      <% else %>
        <%= image_tag "no-image.jpg", class:"article-image" %>
      <% end %>
      <br>
      <p class="form-label">ジャンル</p>
      <div class="article-info-content">
        <% if @article.genre.present? %><%= @article.genre.name %><% end %>
      </div>
      <p class="form-label">作成者</p>
      <div class="article-info-content">
        <%= @article.user.name %>
      </div>
      <br>
      <% if user_signed_in? && @article.user_id == current_user.id %>
        <div class="article-btn-area">
          <div>
            <%= link_to "概要を編集する", edit_article_path(@article), class: "form-submit-btn"%>
          </div>
          <%#= link_to "！削除！", article_path(@article), data: { turbo_method: :delete }, class: "form-submit-btn" %>
          <div>
            <%= check_box "delete", "article", { style: "display: none;" } %>
            <%= label "delete", "article", "この記事を削除する", class: "form-submit-btn" %>
            <div class="delete-btn">
              <p>元に戻せません</p>
              <p>削除しますか？</p>
              <div class="delete-btn-inner">
                <%= link_to "削除する", article_path(@article), data: { turbo_method: :delete }, class: "form-submit-btn" %>
                <%= label "delete", "article", "キャンセル", class: "form-submit-btn" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
      <br>
      <hr>
      <h2 class="article-title">Doyal memo</h2>
      <% @article.posts.each do |post| %>
        <div class="post-contents">
          <% if post.image.present? %>
            <div class="post-image-area">
              <%= image_tag post.image, class: "post-image" %>
            </div>
          <% end %>
          <div class="post-text">
            <%= post.text %>
          </div>
        </div>
        <% if user_signed_in? && @article.user_id == current_user.id %>
          <div class="article-btn-area">
            <div>
              <%= link_to "このメモを編集する", edit_article_post_path(@article, post), class: "form-submit-btn"%>
            </div>
            <div>
              <%= check_box "delete", "#{post.id}", { style: "display: none;" } %>
              <%= label "delete", "#{post.id}", "このメモを削除する", class: "form-submit-btn" %>
              <div class="delete-btn">
                <p>削除しますか？</p>
                <div class="delete-btn-inner">
                  <%= link_to "削除する", article_post_path(@article, post), data: { turbo_method: :delete }, class: "form-submit-btn" %>
                  <%= label "delete", "#{post.id}", "キャンセル", class: "form-submit-btn" %>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        <hr class="post-hr">
      <% end %>
      <%#= render partial: "posts/index", locals: { article: @article, posts: @posts } %>
      <div class="post-contents-bottom">
        <% if user_signed_in? && @article.user_id == current_user.id %>
          <%= link_to "Doyal memoを追加する", new_article_post_path(@article), class: "main-btn" %>
        <% end %>
      </div>
    </div>
    <div class="comment-contener">
      <div class="comment-wrapper">
        <h2>コメント欄</h2>
        <hr>
        <% if @comments.present? %>
          <% @comments.each do |comment| %>
            <div class="comment-contents">
              <div class="comment-content">
                <%= comment.text %>
                <div class="comment-data">
                  <%= comment.user.name %>
                  <%= comment.created_at %>
                </div>
              </div>
              <div class="comment-btn-area">
                <% if user_signed_in? && comment.user_id == current_user.id %>
                  <%= button_to "コメント削除", article_comment_path(@article, comment), method: "delete", class: "form-submit-btn" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
        <% if user_signed_in? %>
          <%= form_with model: [@article, @comment], local: true do |f| %>
            <div>
              <%= f.text_area :text, class: "form-textbox", placeholder: "コメントを記入してください" %>
            </div>
            <div>
              <%= f.submit "コメント送信", class: "form-submit-btn" %>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <% if user_signed_in? %>
      <hr>
      <div class="relation-reminder-wrapper">
        <h2 class="article-title">関連付けたリマインダー一覧</h2>
        <hr>
        <div>
          <% @reminders.each do |reminder| %>
            <% if reminder.user_id == current_user.id%>
              <div class="reminder-card">
                <div class="reminder-card-image">
                  <% if reminder.image.present? %>
                    <%= image_tag reminder.image, class: "reminder-card-image" %>
                  <% else %>
                    <%= image_tag "no-image.jpg", class: "reminder-card-image" %>
                  <% end %>
                </div>
                <div class="reminder-card-contents">
                  <%= link_to reminder.title, reminder_path(reminder), class: "article-title" %>
                  <%= button_to "このリマインダーとの関連付けを解除", cancellation_article_path(@article.id, reminder.id), method: "delete", class: "form-submit-btn" %>
                </div>
              </div>
            <% end %>
          <% end %>
          <div class="main-btn-area">
            <%= link_to "リマインダーとの関連付けページへ", search_article_path(@article), class: "main-btn" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= render "shared/footer" %>