<%= render "shared/header" %>
<div class="main">
  <div class="main-wrapper">
    <h1 class="wrapper-title">Article Detail</h1>
    <p class="wrapper-subtitle">投稿記事詳細</p>
    <div class="main-contents">
      <ul>
        <% if @article.image.present? %>
          <%= image_tag @article.image, class:"main-user-img" %>
        <% else %>
          <%= image_tag "no-image.jpg", class:"main-user-img" %>
        <% end %>
        <li class="main-list-item">
          タイトル : <%= @article.title %>
        </li>
        <li class="main-list-item">
          ジャンル : <% if @article.genre.present? %><%= @article.genre.name %><% end %>
        </li>
        <%= link_to "編集", edit_article_path(@article), class: "edit btn"%>
        <%= link_to "削除", article_path(@article), data: { turbo_method: :delete }, class: "delete btn" %>
      </ul>
      <%= render "posts/index" %>
      <%= link_to "内容を追加する", new_article_post_path(@article), class: "btn" %>
    </div>
  </div>
  <div>
  <% if @comments.present? %>
    <% @comments.each do |comment| %>
      <%= comment.text %>
      <%= comment.user.name %>
      <%= comment.created_at %>
      <% if user_signed_in? && comment.user_id == current_user.id %>
        <%= button_to "コメント削除", article_comment_path(@article, comment), method: "delete" %>
      <% end %>
    <% end %>
  <% end %>
  <% if user_signed_in? %>
    <%= form_with model: [@article, @comment], local: true do |f| %>
      <div>
        <%= f.text_area :text, placeholder: "コメントを記入してください" %>
      </div>
      <div>
        <%= f.submit "コメント送信" %>
      </div>
    <% end %>
  <% end %>
</div>
<%= render "shared/footer" %>