<header class="header">
  <div class="header-logo">
    <%= link_to image_tag("aleitu-logo.png", class: "header-logo-pict"), root_path %>
  </div>
  <div class="header-nav">
    <ul class="header-list">
      <li class="header-list-item">dammy</li>
      <li class="header-list-item">dammy</li>
      <li class="header-list-item">dammy</li>
    </ul>
    <div class="header-right-wrapper">
      <ul class="header-list">
        <li class="header-list-item">ルーム名ダミー</li>
        <% if user_signed_in? %>
          <li class="header-list-item">
            <%= link_to @user.name, user_path(@user), class: "user-name" %>
            <% if @user.image.present? %>
              <%= link_to image_tag(@user.image, class: "header-user-image"), user_path(@user) %>
            <% else %>
              <%= link_to image_tag("no-image.jpg", class: "header-user-image"), user_path(@user) %>
            <% end %>
          </li>
          <li class="header-list-item">
            <%= link_to "ログアウト", destroy_user_session_path, data: {turbo_method: :delete}, class: "logout btn" %>
          </li>
        <% else %>
          <li class="header-list-item">
            <%= link_to "ログイン", new_user_session_path, class: "login btn" %>
          </li>
          <li class="header-list-item">
            <%= link_to "新規登録", new_user_registration_path, class: "registration btn" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</header>