<div class="sidebar">
  <%= link_to image_tag("aleitu_logo.png", class: "sidebar-logo-pict"), root_path, class: "sidebar-logo" %>
  <div class="sidebar-user-info">
    <% if user_signed_in? %>
      <p>ログイン中のユーザー</p>
      <div>
        <% if current_user.image.present? %>
          <%= link_to image_tag(current_user.image, class: "sidebar-user-image"), user_path(current_user) %>
        <% else %>
          <%= link_to image_tag("no-image.jpg", class: "sidebar-user-image"), user_path(current_user) %>
        <% end %>
      </div>
      <div class="sidebar-user-name">
        <%= link_to current_user.name, user_path(current_user), class: "sidebar-user-name" %>
      </div>
      <div>
        <%= link_to "ログアウト", destroy_user_session_path, data: {turbo_method: :delete}, class: "logout btn" %>
      </div>
    <% else %>
      <div class="sidebar-btn-wrapper">
        <div>
          <%= link_to "ログイン", new_user_session_path, class: "login btn" %>
        </div>
        <div>
          <%= link_to "新規登録", new_user_registration_path, class: "registration btn" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="sidebar-content">
    <%= link_to "リマインダー一覧", reminders_path, class: "btn" %>
  </div>
  <div class="sidebar-content">
    <%= link_to "リマインダー登録", new_reminder_path, class: "btn" %>
  </div>
  <div class="sidebar-content">
    <%= link_to "Doyal一覧", articles_path, class: "btn" %>
  </div>
  <div class="sidebar-content">
    <%= link_to "Doyal新規投稿", new_article_path, class: "btn" %>
  </div>
  <%# <div class="sidebar-content"> %>
    <%#= link_to "マイ記事一覧", "#", class: "btn" %>
  <%# </div> %>
</div>